# For Loops

iterable means you can "iterate" over the object

syntax of a for loop
my_iterable =[1,2,3]
for item_name in my_iterable:
print(item_name)
>>1
>>2
>>3

In [1]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylist:
    #check for even
    if num % 2 ==0 :
        print(num)
    else:
        print(f'Odd number:{num}')

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

In [7]:
list_sum =0
for num in mylist:
    list_sum=list_sum+num
    
print(list_sum)

55

list_sum =0
for num in mylist:
    list_sum=list_sum+num
    
(the space is indentation) print(list_sum)

In [8]:
list_sum =0
for num in mylist:
    list_sum=list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

strings are a sequence

In [11]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [18]:
#no need to declare mystring you can just replace it 
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [20]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

tuple packing

In [21]:
mylist =[(1,2),(3,4),(5,6),(7,8)]
# thats tuple and packing

In [22]:
len(mylist)

4

In [23]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [24]:
for (a,b) in mylist:
    print(a)
    print(b)
    
    #tuple unpacking where you kind of duplicate the structures of the items
    # for the access to the individual items

1
2
3
4
5
6
7
8

In [25]:
# for printing odd items from mylist

for (a,b) in mylist:
    print(a)

1
3
5
7

In [26]:
# for even items from mylist
for (a,b) in mylist:
    print(b)

2
4
6
8

In [29]:
# same as above without pranthesis
for a,b in mylist:
    print(b)

2
4
6
8

In [30]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [31]:
for item in mylist:
    print (item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [33]:
#tuple unpacking
for a,b,c in mylist:
    print (b)

2
6
9

In [35]:
# for loop in dictionaries
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)
    # can see by default by iteration through a dictionary you oly iterate through the keys

k1
k2
k3

In [36]:
#to iterate through items here you have to use .items()
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [37]:
d = {'k1':1,'k2':2,'k3':3}
#same as tuple
for key,value in d.items():
    print(value)

1
2
3

In [38]:
d = {'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

1
2
3