In [6]:
import numpy as np
import pandas as pd
from pandas import Series , DataFrame

In [7]:
obj = Series([3,6,9,12])

In [8]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [9]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [10]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
ww2_cas = Series([870000,4300000,3000000,21000000,40000000] ,index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR         870000
Germany     4300000
China       3000000
Japan      21000000
USA        40000000
dtype: int64

In [12]:
#check which countires has cas grater than 4 million
ww2_cas[ww2_cas>4000000]

Germany     4300000
Japan      21000000
USA        40000000
dtype: int64

In [13]:
'USSR' in ww2_cas

True

In [14]:
ww2_dict=ww2_cas.to_dict()

In [15]:
ww2_series

NameError: name 'ww2_series' is not defined

In [16]:
ww2_series= Series(ww2_dict)

In [17]:
countries =['China','Germany','Japan','USA','USSR','Argentina']

In [18]:
obj2= Series(ww2_dict,index=countries)

In [19]:
obj2

China         3000000.0
Germany       4300000.0
Japan        21000000.0
USA          40000000.0
USSR           870000.0
Argentina           NaN
dtype: float64

In [20]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [21]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [22]:
ww2_series

USSR         870000
Germany     4300000
China       3000000
Japan      21000000
USA        40000000
dtype: int64

In [23]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [24]:
obj2

China         3000000.0
Germany       4300000.0
Japan        21000000.0
USA          40000000.0
USSR           870000.0
Argentina           NaN
dtype: float64

In [25]:
ww2_series +obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan        42000000.0
USA          80000000.0
USSR          1740000.0
dtype: float64

In [26]:
obj2.name="world war 2 casualities"

In [27]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [28]:
obj2

China         3000000.0
Germany       4300000.0
Japan        21000000.0
USA          40000000.0
USSR           870000.0
Argentina           NaN
Name: world war 2 casualities, dtype: float64

In [29]:
obj2.index.name='countries'