In [1]:
mystring='hello'

In [2]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist=[letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [9]:
mylist =[xwe for xwe in 'wordtwo']

In [10]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [14]:
mylist= [num for num in range(0,11)]

In [15]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
mylist= [num**2 for num in range(0,11)]

In [17]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
mylist = [num*3 for num in range(0,11)]

In [19]:
mylist

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

In [24]:
mylist = [num**3 for num in range (0,40)]

In [26]:
mylist

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319]

mylist=[]
for letter in mystring:
    mylist.append(letter)

both are same

mylist=[letter for letter in mystring]


you can use it for calculation

mylist=[]
for letter in mystring:
    mylist.append(letter**2)


both are same


mylist= [num**2 for num in range(0,11)]

In [30]:
mylist = [x**2 for x in range (0,11) if x%2==0]

In [31]:
mylist

[0, 4, 16, 36, 64, 100]

In [42]:
celcius =[0,10,20,34.5]
fahrenheit =[((9/5)*temp+32) for temp in celcius]

In [43]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [47]:
 fahrenheit =[]

for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))

In [48]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [49]:
results =[x if x%2==0 else'ODD' for x in range(0,11)]

In [50]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

nested loop in list comprehension

In [55]:
mylist=[]
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [56]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [57]:
mylist =[x*y for x in [2,4,6] for y in [1,10,1000]]

In [58]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]